In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Market_Basket_Optimisation.csv')
data

d:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.1,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
991371,576269,23014,GLASS APOTHECARY BOTTLE ELIXIR,4,11/14/2011 14:23,3.95,12762.0,Portugal
991372,576269,22949,SET OF 36 DOLLY GIRL PAPER DOILIES,12,11/14/2011 14:23,1.45,12762.0,Portugal
991373,576269,21210,SET OF 72 RETROSPOT PAPER DOILIES,12,11/14/2011 14:23,1.45,12762.0,Portugal
991374,576269,84988,SET OF 72 PINK HEART PAPER DOILIES,12,11/14/2011 14:23,1.45,12762.0,Portugal
991375,576269,22558,CLOTHES PEGS RETROSPOT PACK 24,12,11/14/2011 14:23,NaN,NaN,NaN

In [3]:
data=data.dropna()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 769097 entries, 0 to 991374
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      769097 non-null  object
 1   StockCode    769097 non-null  object
 2   Description  769097 non-null  object
 3   Quantity     769097 non-null  object
 4   InvoiceDate  769097 non-null  object
 5   Price        769097 non-null  object
 6   Customer ID  769097 non-null  object
 7   Country      769097 non-null  object
dtypes: object(8)
memory usage: 52.8+ MB

In [5]:
dp=data[data['Quantity']==0]
dp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      0 non-null      object
 1   StockCode    0 non-null      object
 2   Description  0 non-null      object
 3   Quantity     0 non-null      object
 4   InvoiceDate  0 non-null      object
 5   Price        0 non-null      object
 6   Customer ID  0 non-null      object
 7   Country      0 non-null      object
dtypes: object(8)
memory usage: 0.0+ bytes

In [6]:
basket=(dp[dp['Country']=="United Kingdom"].groupby(['Invoice','Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Invoice'))
basket

Empty DataFrame
Columns: []
Index: []

In [7]:
def encode_units(x):
  if x<=0:
    return 0
  if x>=1:
    return 1

basket_encode=basket.applymap(encode_units)
basket_encode

Empty DataFrame
Columns: []
Index: []

In [8]:
basket_filter=basket_encode[(basket_encode>0).sum(axis=1)>=2]
basket_filter

Empty DataFrame
Columns: []
Index: []

In [9]:
from mlxtend.frequent_patterns import apriori

In [10]:
frequent_itemsets=apriori(basket_filter,min_support=0.03,use_colnames=True).sort_values('support',ascending=False).reset_index(drop=True)
frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [ ]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric='lift',min_threshold=1).sort_values('lift',ascending=False).reset_index(drop=True)