In [1]:
import mysql.connector as mysql

d:\Anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.10) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [16]:
#1 Creation of tables

In [3]:
db = mysql.connect(host="localhost",user="root",password="Shiva_789",database="dwm")
cursor = db.cursor()
sql = "CREATE TABLE customer ( id int primary key,email VARCHAR(20) NOT NULL, password VARCHAR(20) not null, name VARCHAR(20) NOT NULL,address text,country varchar(10),phonenumber varchar(15))"
mysql="CREATE TABLE orders ( id int primary key,customer_id int, amount decimal(20,2),shipping_address text)"
my="CREATE TABLE products ( id int primary key,name varchar(30) not null, price decimal(20,2),weight decimal(20,2),description text)"
cursor.execute(sql)
cursor.execute(mysql)
cursor.execute(my)

In [4]:
#2 Insert records in Customer Table
sql = "INSERT INTO customer(id,email,password,name,address,country,phonenumber) VALUES(%s,%s,%s,%s,%s,%s,%s)"
val = [
    (1,"samy@gmail.com","samy123","Samy","Lords 21","England",9787897410),
    (2,"Will@gmail.com","will123","Will","Nands 1","NZ",7897497410)
]
cursor.executemany(sql,val)
db.commit()
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [5]:
#2 Insert records in Order Table
sql = "INSERT INTO orders(id,customer_id,amount,shipping_address) VALUES(%s,%s,%s,%s)"
val = [
    (1,2,890.6,"Nands 1,NZ"),
    (2,1,1890.6,"Highway 1,England")
]
cursor.executemany(sql,val)
db.commit()
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [6]:
#2 Insert records in Products table
sql = "INSERT INTO products(id,name,price,weight,description) VALUES(%s,%s,%s,%s,%s)"
val = [
    (1,"Sugar",20.00,1,"Branded"),
    (2,"Rice",18.00,1,"White Rice")
]
cursor.executemany(sql,val)
db.commit()
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [7]:
#3 Display all records from customers
cursor.execute("SELECT * FROM customer")
myresult = cursor.fetchall()
for x in myresult:
  print(x)

(1, 'samy@gmail.com', 'samy123', 'Samy', 'Lords 21', 'England', '9787897410')
(2, 'Will@gmail.com', 'will123', 'Will', 'Nands 1', 'NZ', '7897497410')

In [8]:
#3 Display all records from products
cursor.execute("SELECT * FROM products")
myresult = cursor.fetchall()
for x in myresult:
  print(x)

(1, 'Sugar', Decimal('20.00'), Decimal('1.00'), 'Branded')
(2, 'Rice', Decimal('18.00'), Decimal('1.00'), 'White Rice')

In [9]:
#4 Display all the Customers whose name Starts with S
cursor.execute("SELECT * FROM customer WHERE name LIKE 'S%'")
myresult = cursor.fetchall()
for x in myresult:
  print(x)

(1, 'samy@gmail.com', 'samy123', 'Samy', 'Lords 21', 'England', '9787897410')

In [10]:
#5 Sort all the Products by Name and display it
cursor.execute("SELECT * FROM products ORDER BY name")
myresult = cursor.fetchall()
for x in myresult:
  print(x)

(2, 'Rice', Decimal('18.00'), Decimal('1.00'), 'White Rice')
(1, 'Sugar', Decimal('20.00'), Decimal('1.00'), 'Branded')

In [11]:
#6 Display the records to know which order is placed by which customer.
cursor.execute("SELECT * FROM orders LEFT JOIN customer ON orders.customer_id = customer.id")
myresult = cursor.fetchall()
for x in myresult:
  print(x)

(1, 2, Decimal('890.60'), 'Nands 1,NZ', 2, 'Will@gmail.com', 'will123', 'Will', 'Nands 1', 'NZ', '7897497410')
(2, 1, Decimal('1890.60'), 'Highway 1,England', 1, 'samy@gmail.com', 'samy123', 'Samy', 'Lords 21', 'England', '9787897410')

In [12]:
db.close()