<h2 align='center'>DWM Lab 2 <h2>

# V.SHIVA KUMAR CHARY    SEC-04    2000031041

# PRE LAB:
# 1. Outline the steps to perform CRUD operations in python.
# A) 
   1. Import mysql connector
   2. Establish connection with mysql
   3. Create cursor object
   4. Execute SQL Query to create a database
   5. Execute SQL Query to create a table in that database
   6. Insert records using commit method
   7. Display records using fetch() and fetchall() methods
   8. update the records using commit method
   9. Delete the records using commit method
 
# 2. How will you implement CRUD operations using Wrapper Classes?
# A) 
   1. Create a database class
   2. Create necessary constructors
   3. Write main method
   4. Apply necessary operations

### IN LAB

In [1]:
#pip install mysql-connector-python (if there is error named no module found)

#Import Required Libraries
import mysql.connector as mysql

#connection establishment
db = mysql.connect(host="localhost",user="root",password="Shiva_789",database="dwm")
cursor = db.cursor()

d:\Anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.10) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
#1. Creating required tables
sql = "CREATE TABLE customer ( id int primary key,email VARCHAR(20) NOT NULL, password VARCHAR(20) not null, name VARCHAR(20) NOT NULL,address text,country varchar(10),phonenumber varchar(15))"
mysql="CREATE TABLE orders ( id int primary key,customer_id int, amount decimal(20,2),shipping_address text)"
my="CREATE TABLE products ( id int primary key,name varchar(30) not null, price decimal(20,2),weight decimal(20,2),description text)"
cursor.execute(sql)
cursor.execute(mysql)
cursor.execute(my)

In [3]:
#2 Insert records in Customer Table
#Note: I am inserting only 2 records for demo, you need to insert atleast 15 records as mentioned
sql = "INSERT INTO customer(id,email,password,name,address,country,phonenumber) VALUES(%s,%s,%s,%s,%s,%s,%s)"
val = [
    (1,"Shiva@gmail.com","Shiva123","Shiva","Hyderabad","India",952230262),
    (2,"Kumar@gmail.com","Kumar123","Kumar","Vijayawada","India",6309821451)
]
cursor.executemany(sql,val)
db.commit()
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [4]:
#2 Insert records in Order Table
#Note: I am inserting only 2 records for demo, you need to insert atleast 15 records as mentioned
sql = "INSERT INTO orders(id,customer_id,amount,shipping_address) VALUES(%s,%s,%s,%s)"
val = [
    (1,2,890.6,"Simhapuri colony,Ecil,Hyd"),
    (2,1,1890.6,"Chaapathi hostel,vaddeshwaram,Vij")
]
cursor.executemany(sql,val)
db.commit()
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [5]:
#2 Insert records in Products table
#Note: I am inserting only 2 records for demo, you need to insert atleast 15 records as mentioned
sql = "INSERT INTO products(id,name,price,weight,description) VALUES(%s,%s,%s,%s,%s)"
val = [
    (1,"Sugar",20.00,1,"Branded"),
    (2,"Rice",18.00,1,"White Rice")
]
cursor.executemany(sql,val)
db.commit()
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [6]:
#3 Display all records from customers
cursor.execute("SELECT * FROM customer")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(1, 'Shiva@gmail.com', 'Shiva123', 'Shiva', 'Hyderabad', 'India', '952230262')
(2, 'Kumar@gmail.com', 'Kumar123', 'Kumar', 'Vijayawada', 'India', '6309821451')

In [7]:
#3 Display all records from products
cursor.execute("SELECT * FROM products")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(1, 'Sugar', Decimal('20.00'), Decimal('1.00'), 'Branded')
(2, 'Rice', Decimal('18.00'), Decimal('1.00'), 'White Rice')

In [8]:
#4 Display all the Customers whose name Starts with S
cursor.execute("SELECT * FROM customer WHERE name LIKE 'S%'")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(1, 'Shiva@gmail.com', 'Shiva123', 'Shiva', 'Hyderabad', 'India', '952230262')

In [9]:
#5 Sort all the Products by Name and display it
cursor.execute("SELECT * FROM products ORDER BY name")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(2, 'Rice', Decimal('18.00'), Decimal('1.00'), 'White Rice')
(1, 'Sugar', Decimal('20.00'), Decimal('1.00'), 'Branded')

In [10]:
#6 Display the records to know which order is placed by which customer.
cursor.execute("SELECT * FROM orders LEFT JOIN customer ON orders.customer_id = customer.id")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(1, 2, Decimal('890.60'), 'Simhapuri colony,Ecil,Hyd', 2, 'Kumar@gmail.com', 'Kumar123', 'Kumar', 'Vijayawada', 'India', '6309821451')
(2, 1, Decimal('1890.60'), 'Chaapathi hostel,vaddeshwaram,Vij', 1, 'Shiva@gmail.com', 'Shiva123', 'Shiva', 'Hyderabad', 'India', '952230262')

In [11]:
db.close()